/* @font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf); */

body {
  font-family: "Open Sans" sans-serif;
}
:root {
  --main-title-color: #ffffff;
  --main-title-color2: #434455;
  --main-title-color3: #4d5ae5;
  --main-title-color4: #2e2f42;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* Header */
.header {
}
.header-navigation {
}
.link {
  text-decoration: none;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-title-color3);
}
.second-logo {
  color: #2e2f42;
}

.header-list {
}
.header-item {
}
.header-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.header-email {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
.header-tel {
  position: absolute;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--main-title-color2);
}
/* Header */
/* hero*/
.hero {
  background-color: var(--main-title-color4);
}
.hero-efectiv-sol {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}
.hero-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 0.7;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  background: var(--main-title-color3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* section 2 */
.section-2 {
  list-style: none;
}
.section-2-hidden {
}
.section-2-list {
}
.section-2-item {
}
.section-2-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.83px;
  letter-spacing: 0.02em;
  color: var(--main-title-color4);
}
.section-2-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--main-title-color2);
}
/*section 2*/
/* section 3 */
.section-3-doing {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color4);
}
/* section 3 */

/* section 4 */
.Our-team {
}
.our-team-background {
  background-color: var(--main-title-color);
  background: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.our-team-name-1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;

  line-height: 24px;
  color: var(--main-title-color4);
}
.our-team-name-2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--main-title-color4);
}
.our-team-name-3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-title-color4);
}
.our-team-name-4 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-title-color4);
}
.our-team-team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  color: var(--main-title-color4);
}

.our-team-job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color2);
}

/* sectoin 4 */

/* section 5 */
.section-5 {
  background-color: var(--main-title-color4);
}

.section-5-last {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  letter-spacing: 0.02em;

  color: var(--main-title-color);
}
.logo2 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color3);
}

.link {
  text-decoration: none;
}
.second-logo2 {
  color: var(--main-title-color);
}
/* section 5 */
