/* @font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: "Open Sans Bold";
  src: url(../fonts/OpenSans-Bold.ttf);
} */
.body {
  font-family: "Roboto" sans-serif;
}
.root {
  --main-title-color5: #4d5ae5;
  --main-title-color6: #2e2f42;
  --main-title-color7: #434455;
  --main-title-color8: #ffffff;
  --main-title-color9: #f4f4fd;
  --main-title-color10: #e7e9fc;
}
.link2 {
  text-decoration: none;
}
.list2 {
  list-style: none;
}

body {
  font-family: "Open Sans" sans-serif;
}
/* Header */
.logo4 {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  font-style: normal;

  color: var(--main-title-color5);
}
.link {
  text-decoration: none;
}
.second-logo4 {
  color: var(--main-title-color6);
}

.header-navigation2 {
}
.header-list {
}
.list2 {
  list-style: none;
}
.header-item2 {
}
.header-link2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color6);
}
.header-email2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color7);
}
.list {
  list-style: none;
}
link {
  text-decoration: none;
}
.header-tel2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: var(--main-title-color7);
}

/* Section 2 */

.portfolio-sect-2 {
}
.portfolio-sect-2-navigation {
}
.portfolio-sect-2-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  background-color: var(--main-title-color5);
  color: var(--main-title-color8);
}
.portfolio-sect-2-list2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color5);
}
/* section3 */
.about3 {
}
.about3-navigation {
}
.about3-list {
}
.about3-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--main-title-color6);
}
.about3-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color7);
}
.logo3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: var(--main-title-color5);
}

.link {
  text-decoration: none;
}
.second-logo3 {
  color: var(--main-title-color8);
}

.section-5-last {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--main-title-color10);
}
.section-last {
  background-color: var(--main-title-color6);
}
